@font-face {
    font-family: 'la-brands-400', 'la-regular-400';
    font-style: normal;
    font-weight: normal;
    /* la-brands-400*/
    src: url('@/data/font/line-awesome/fonts/la-brands-400.ttf') format('truetype');
    src: url('@/data/font/line-awesome/fonts/la-brands-400.eot') format('eot');
    src: url('@/data/font/line-awesome/fonts/la-brands-400.otf') format('otf');
    src: url('@/data/font/line-awesome/fonts/la-brands-400.woff') format('woff');
    src: url('@/data/font/line-awesome/fonts/la-brands-400.woff2') format('woff2');
    src: url('@/data/font/line-awesome/fonts/la-brands-400.svg') format('svg');
    /* la-regular-400*/
    src: url('@/data/font/line-awesome/fonts/la-regular-400.ttf') format('truetype');
    src: url('@/data/font/line-awesome/fonts/la-regular-400.eot') format('eot');
    src: url('@/data/font/line-awesome/fonts/la-regular-400.otf') format('otf');
    src: url('@/data/font/line-awesome/fonts/la-regular-400.woff') format('woff');
    src: url('@/data/font/line-awesome/fonts/la-regular-400.woff2') format('woff2');
    src: url('@/data/font/line-awesome/fonts/la-regular-400.svg') format('svg');
 
}