$primaryColor:#00B4D8;
$secondaryColor:#90E0EF;
$bgColor: rgb(122, 215, 231);
$bgColor_tarjome:rgb(248, 248, 248);
$lightWhite :rgb(248, 248, 248);
$lightGray :rgb(201, 199, 199);
$ayeNumber:red;
$blue:#0077B6;
$zard : rgb(233, 213, 35);
// //
$boxShadowColor:rgba(0, 0, 0, 0.84);


// //
$fontSize:1rem;
$fontSizeAyeNumber:0.8rem;
$fontColor:#2b2b2b;
$fontWeight:800;
$fontFamily:'la-brands-400', 'la-regular-400';
$fontColor_tarjome:red;
$fontSize_tarjome:0.7rem;

//