$primaryColor:#00B4D8;
$secondaryColor:#90E0EF;
$bgColor: rgb(122, 215, 231);
$blue:#0077B6;
$zard : rgb(233, 213, 35);

// //
$boxShadowColor:rgba(0, 0, 0, 0.84);


// //
$fontSize:1rem;
$fontColor:#2b2b2b;
$fontWeight:800;
$fontFamily:'Courier New', Courier, monospace;